*, :before, :after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $grey;
    margin: 0;
    padding: 0;
    color: $white;
    font-family: $ws;
    font-size: 14px;
}

header .wrapper {
    padding: 0;
}

h1 {
    margin-top: 0;
    word-break: break-all;
}

h1, h2 {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: $pop;
    font-size: 7em;
    font-weight: 100;
    text-align: left;
    line-height: 1.2em;
}

h2 {
    display: block;
    margin: .2em 0;
    font-size: 4.5em;
    max-width: 12em;
    width: fit-content;
}

h3 {
    font-weight: 200;
    font-size: 1.75em;
    font-family: $pop;
}

nav {
    display: flex;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 2em 4em;
    justify-content: flex-end;
    font-size: .95em;
    a {
        font-family: $pop;
        font-size: 1.2em;
        text-decoration: none;
        margin-left: .5em;
        font-weight: 200;
        color: inherit;
        position: relative;
        padding: 1em .6em;
        overflow: hidden;
        span {
            transition: all 300ms $inout_med;
        }
        &:hover:before {
            width: 1.5em;
            right: calc(50% - .75em);
            transition: all 300ms $out_bounce;            
        }
        &:hover span {
            color: $primary_main;
        }   
        &:before {
            transition: all 200ms $inout_med;
            content: '';
            background: $primary_main;
            height: 3px;
            width: 0;
            position: absolute;
            bottom: 13px;
            right: 100%;
            z-index: -1;
            border-radius: 1em;
            // opacity: 0;
        }
    }
}

footer {
    padding: 3em 1em 0 1em;
    text-align: center;
    .wrapper {        
        padding: 0;
        min-height: 10em;
        background: $grey_bg;
        color: $grey;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }
}