body {
    background: $color4;
    margin: 0;
    padding: 0 2em;
    text-align: center;
    color: $color3;
    font-family: $ws;
    font-size: 16px;
}

h1 {
    font-family: $pop;
    font-size: 8em;
    text-align: left;
}