.call_to_action {
  z-index: 2;
  position: relative;
  font-size: 1.65em;
  font-weight: 200;
  font-family: $pop;
  color: $white;
  padding: .4em .8em;
  border-radius: 2em;
  border: none;
  background: $color3;
  margin: 1em 0;
  transition: all 300ms $out_med;
  box-shadow: 0 1em 3em #ffffff04, 0 .1em .2em #0000000f, 0 .2em 3em .5em $color3_shadow ;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 1em 3em 1em #ffffff04, 0 .1em .2em #0000003f, 0 .2em 3em 1em $color3_shadow !important;
    // transform: translateY(-.05em);
  }
  &:hover {
    box-shadow: 0 1em 3em 1em #ffffff04, 0 .1em .2em #0000003f, 0 .2em 3em 1.1em $color3_shadow;
    // transform: translateY(-.05em);
    background: $color3_hilite;
    & .tooltip {
      opacity: 1;
      transform: translate(-50%, -1em);
      transition: all 300ms $out_med;
      &:before {
        bottom: -.6em;
        transition: all 300ms $out_med;
      }
    }
  }
  &:active {
    box-shadow: 0 1em 3em 1em #ffffff04, 0 0em 0em #0000003f, 0 .2em 3em 1.5em $color3_shadow !important;
    transform: translateY(.1em);
  }
}

.tooltip {
  font-size: .65em;
  background: #303030;
  color: $white;
  padding: .6em;
  border-radius: .5em;
  position: absolute;
  top: -3em;
  transition: all 200ms $in_med;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -.2em);
  font-weight: 100;
  font-family: $pop;
  z-index: -1;
  &::before {
    transition: all 200ms $in_med;
    border-right: .6em solid transparent;
    border-top: .6em solid #303030;
    bottom: 0;
    content: '';
    position: absolute;
    left: 1.5em;
  }
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.pink {
  color: $color3;
}


.spin {
  display: inline-block;
  transition: all 600ms $out_bounce;
}
.bounce_o {
  animation: bounce_o 400ms $inout_bounce forwards !important;
}
@keyframes bounce_o {
  0% {
    transform: rotateY(180deg) translateY(0); 
  }
  50% {
    transform: rotateY(180deg) translateY(-.06em); 
  }
  100% {
    transform: rotateY(180deg) translateY(0); 
  }
}

.spin_o {
  transform: rotateY(180deg);
  color: $color3;
}

.nobreak {
  white-space: nowrap;
}

.dot {
  font-weight: 300;
}

.count {

  font-size: .7em;
  position: absolute;
  bottom: 3em;
  right: 0;
  font-family: $pop;
  font-weight: 200;
  background: #303030;
  padding: .6em .7em;
  border-radius: .5em;
  transition: all 400ms $out_bounce;
  box-shadow: 0 .2em .2em 0 #0000002f;
  cursor: pointer;
  z-index: 20;
  &:hover .x {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

.under {
  position: relative !important;
  width: fit-content;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -.25em;
    height: 3px;
    width: 50%;
    border-radius: 2em;
    background: $color3;
  }
}

.x {
  opacity: 0;
  transition: all 300ms $inout_bounce;
  position: absolute;
  top: 50%;
  left: -2em;
  transform: translate(1em, -50%);
  background: #ffffff22;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  color: #040404;
  cursor: pointer;
  height: 1.4em;
  width: 1.4em;
  z-index: 2;
  &:hover {
    background: #ffffff54 !important;
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   width: 2em;
  //   height: 2em;
  //   top: 0;
  //   left: 100%;
  // }
}

.view {
  padding: .4em 1em;
  width: fit-content;
  border-radius: 2em;
  border: 2px solid $color3;
  margin-top: 2em;
  // position: absolute;
  // bottom: 2em;
  // left: 0;
  transition: all 200ms $inout_med;
  cursor: pointer;
  &:hover {
    background: $color3;
  }
}