.call_to_action {
  font-size: 1.5em;
  font-weight: 200;
  font-family: $pop;
  color: $white;
  padding: .4em .8em;
  border-radius: 2em;
  border: none;
  background: $color3;
  margin: 1em 0;
  transition: all 200ms $out_med;
  box-shadow: 0 1em 3em #ffffff04;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 1em 3em 1em #ffffff04, 0 .1em .2em #0000003f, 0 .2em 3em 1em $color3_shadow !important;
    // transform: translateY(-.05em);
  }
  &:hover {
    box-shadow: 0 1em 3em 1em #ffffff04, 0 .1em .2em #0000003f, 0 .2em 3em $color3_shadow;
    // transform: translateY(-.05em);
    background: $color3_hilite;
  }
  &:active {
    box-shadow: 0 1em 3em 1em #ffffff04, 0 0em 0em #0000003f, 0 .2em 3em 1em $color3_shadow !important;
    transform: translateY(.1em);
  }
}

.pink {
  color: $color3;
}


.spin {
  display: inline-block;
  transition: all 700ms $out_bounce;
}

.spin_o {
  transform: rotateY(180deg) !important;
  color: $color3;
}

.nobreak {
  white-space: nowrap;
}

.dot {
  font-weight: 300;
}