.wrapper {
    display: block;
    max-width: 1240px;
    padding: 0 1.5em;
    padding-bottom: 2em;
    position: relative;
    margin: 0 auto;
}

.section__hero {
    font-size: .9em;
    position: relative;
    h3 {
        margin-bottom: 1em;
    }
}

.section__work {
    position: relative;
    padding-top: 2em;
    h2 {
        margin: 0 auto;
        padding: 0;
        font-size: 4em;
    }
}

.grid__work {
    position: relative;
    padding-top: 8em;
    padding-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2em;
    width: 100%;
    font-weight: 200;
    font-family: $ws;
    font-size: 1.2em;
    .grid__item {
        text-align: justify;
        position: relative;
        p {
            line-height: 1.6em;
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
            border-radius: .6em;
            box-shadow: 0 .2em 4em #0f0f0f3a;
            // transition: all 300ms $out_bounce;
            // &:hover {
            //     transform: translateY(-.25em);
            //     box-shadow: 0 .2em 5em #0f0f0f35;
            // }
        }
        .desk{
            width: 90%;
        }
        .mob {
            position: absolute;
            width: 30%;
            bottom: -1em;
            right: 0;
        }
    }
}

.alt {
    grid-template-columns: 1.5fr 1fr;
}