@media (max-width: 860px) {
  .grid__work {
    max-width: 36em;
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding-top: 4em;
    padding-bottom: 0;
    grid-gap: 0;
    .grid__item:nth-child(2) {
      grid-area: 1/1;
    }
  }
  .alt {
    grid-template-columns: 1fr;
    .grid__item:nth-child(1) {
      grid-area: 1/1;
    }
    .grid__item:nth-child(2) {
      grid-area: 2/1;
    }
  }

}

@media (max-width: 680px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
  .section__work {
    h2 {
      font-size: 2.5em;
    }
    p {
      padding-right: 2em;
    }
  }
}


@media (max-width: 520px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  nav {
    padding: 1em;
    justify-content: center;
    a {
      margin: 0 .2em;
    }
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
}