// fonts

$ws: 'Work Sans', sans-serif;

$pop: 'Poppins', sans-serif;

// colors

$color1: rgba(128, 155, 206, 1);
$color2: rgba(149, 184, 209, 1);
$color3: rgba(184, 224, 210, 1);
$color4: rgba(214, 234, 223, 1);
$color5: rgba(67, 82, 74, 1);